.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  .text{
  background-color:solid blue; 
  align-self: center; 
  }
/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
  .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.btn-outline-info {
  color: #338b49;
  width: 240px;
  border-color: #0dcaf0;
}

body{
/*background-image: url("img/background.png");*/
background-color: #0d1117;
background-size: cover;
/*  background-image: linear-gradient(to right top, #0d1117, #081223, #04112e, #031038, #0c0c40);*/
}
.textmain {
padding-top: 0.5em;
text-align: center;
letter-spacing: -0.009em;
color: white;
letter-spacing: 0.04em;
font-family: 'Helvetica', 'Arial';
font-size: 80px;
line-height: 1.0625;
font-weight: 600;
padding-bottom: 0.1em;
}
.textmain2 {
text-align: center;
letter-spacing: -0.009em;
color: white;
letter-spacing: 0.04em;
font-family: 'Helvetica', 'Arial';
font-size: 40px;
line-height: 1.0625;
font-weight: 600;
padding-bottom: 1em;
}

.test{
background-image: linear-gradient(90deg, #079de0, #3aecba);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}
.test2{
background-image: linear-gradient(243deg, #3dd875 23%, #0eb3a0 87%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}

.text-slider-items {
display: none;
}

.px-4 {
padding-left: 1rem;
padding-right: 1rem;
}
.py-4 {
padding-top: 1rem;
padding-bottom: 1rem;
}
.max-w-lg {
max-width: 32rem;
}
.mx-auto {
margin-left: auto;
margin-right: auto;
}
.container {
width: 100%;
}
.text-center{
text-align: center;
}
.white{
color:whitesmoke;
}
.px-4 {
padding-left: 1rem;
padding-right: 1rem;
}
.max-w-3xl {
max-width: 48rem;
}
.mx-auto {
margin-left: auto;
margin-right: auto;
}
.font{
font-family:'Times New Roman', Times, serif;
}
.font2{
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.para{
  font-size: 1.15rem;
  padding-top: 0.7rem;
  padding-bottom: 1.15rem;
}